:root {
  --primary-font: blue;
  --secondary-color: lightblue;
  --desktop-side-pad: 120px;
  --mob-side-pad: 20px;
  --primary-bg: #F9F9FC;
  --secondary-bg: white;
  --accent-color: #6438F7;
  --header-pad: 40px;
  --topMargin: 20px;
}

html{
  overflow-x: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center{
  text-align: center;
}

.nav{
  position: fixed;
  top: 0;
  background-color: var(--primary-bg);
  width: 100%;
  z-index: 2;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: var(--desktop-side-pad);
  padding-right: var(--desktop-side-pad);
}

.header__right > button:not(:last-of-type){
  margin-right: 30px;
}

.navButton{
  background: 0;
  border: 0;
  padding: 0;
  font-weight: 700;
  color: var(--accent-color);
}

#NavGrid{
  width: 100%;
}

.landing{
  background-color: var(--primary-bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: var(--desktop-side-pad);
  padding-right: var(--desktop-side-pad);
}

.landingTxt{
  padding-top: 80px;
  text-align: left;
}

.landingTxt > p {
  margin-top: var(--topMargin);
}

.connectButton{
  background: var(--accent-color);
  color: var(--secondary-bg);
  width: 200px;
  padding: 10px;
  font-weight: 700;
  border: 0;
  border-radius: 25px;
  margin-top: var(--topMargin);  
}

.about{
  background-color: var(--secondary-bg);
  padding: 250px 0;
}

.services{
  background-color: var(--primary-bg);
}

.projects{
  background-color: var(--secondary-bg);
}

.project-text{
  position: relative;
  top: 70%;
  font-weight: 700;
}

.contact{
  background-color: var(--primary-bg);
  text-align: left;
}

.section{
  min-height: 50vh;
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: var(--desktop-side-pad);
  padding-right: var(--desktop-side-pad);
}

.section > img {
  position: absolute;
  top: 0;
  width: 500px;
  transform: translateX(-50%) translateY(-50%);
  height: 300px;
  left: 50%;
  object-fit: contain;
}

.section > h2 {
  color: var(--accent-color);
  font-weight: 700;
  padding-top: var(--header-pad);
  padding-bottom: var(--header-pad);
}

.accented{
  color: var(--accent-color);
}

@media only screen and (max-width: 1400px){
  .section, .nav {
      padding-left: 80px;
      padding-right: 80px;
  }
}

@media only screen and (max-width: 1000px){
  .section, .nav {
      padding-left: 60px;
      padding-right: 60px;
  }
}

@media only screen and (max-width: 800px){
  .section, .nav {
      padding-left: 40px;
      padding-right: 40px;
  }
}


@media only screen and (max-width: 700px){
  .section {
      padding-bottom: 250px;
      padding-top: 250px;
  }

  .section > img {
    width: 100%;
  }
}



