:root {
  --secondary-color: lightblue;
  --desktop-side-pad: 120px;
  --mob-side-pad: 20px;
  --primary-bg: #F9F9FC;
  --secondary-bg: white;
  --accent-color: #6438F7;
  --header-pad: 60px;
  --topMargin: 20px;

}

html{
  overflow-x: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center{
  text-align: center;
}

.nav{
  position: fixed;
  top: 0;
  background-color: var(--primary-bg);
  width: 100%;
  z-index: 20;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: var(--desktop-side-pad);
  padding-right: var(--desktop-side-pad);
}

.header__right > a:not(:last-of-type){
  margin-right: 30px;
}

.nav-item{
  text-decoration: none;
  font-weight: 700;
  color: var(--accent-color);
}

.nav-item:hover{
  border-bottom: 1px solid var(--accent-color);
  color: var(--accent-color);
  cursor: pointer;
}

.nav-logo{
  max-height: 2rem;
  margin-right: 2rem;
}

.nav-top{
  cursor: pointer;
}

.logo{
  background: 0;
  border: 0;
  padding: 0;
  font-weight: 700;
  color: #202020;
}

#NavGrid{
  width: 100%;
}

.landing{
  background-color: var(--primary-bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: var(--desktop-side-pad);
  padding-right: var(--desktop-side-pad);
}

.landingTxt{
  padding-top: 80px;
  text-align: left;
}

.landingTxt > p {
  margin-top: var(--topMargin);
}

.connectButtonContainer{
  padding-top: 120px;
  padding-bottom: 60px;
}

.connectButton{
  background: var(--accent-color);
  color: var(--secondary-bg);
  width: 300px;
  padding: 30px;
  font-weight: 700;
  font-size: 1.2rem;
  border: 0;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
}

.connectButton:hover{
  text-decoration: none;
  color: var(--secondary-bg);
}

.about{
  background-color: var(--secondary-bg);
  padding: 250px 0;
}

.services{
  background-color: var(--primary-bg);
}

.services:last-child{
  margin-top: 30px;
}

.services > p{
  margin-bottom: 10%;
}

.service{
  margin-top: 10% !important;
}

.service-description > h3{
  margin-top: 3rem;
}

.service-description > p{
  margin-top: 6rem;
  margin-bottom: 25%;
}

.next-service{
  text-decoration: none;
  transform: scale(1.1);
  transition: 1s ease-in-out;
}

.next-service > img {
  margin-bottom: 40%;
}

.projects{
  background-color: var(--secondary-bg);
}

.project-grid{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3,[col] 1fr);
  grid-gap: 50px;
  grid-auto-rows: 300px;
  justify-content: center;
}

.project{
  min-width: 300px;
  padding: 40px;
  background: var(--project-card-bg1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform .2s ease-in-out;
  user-select: none;
  cursor: pointer;
  transform: scale(1);
  text-decoration: none;
}

.project-img{
  width: 100%;
  max-height: 150px;
}

.project:hover{
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  z-index: 5;
}

.project-text{
  position: relative;
  top: 70%;
  font-weight: 700;
}

.contact{
  background-color: var(--primary-bg);
  text-align: left;
}

.hubspotForm{
  margin: 4rem auto;
  width: 40%;
}

.copyright{
  text-align: center;
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--accent-color)

}
.section{
  min-height: 50vh;
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: var(--desktop-side-pad);
  padding-right: var(--desktop-side-pad);
}

.section > img {
  position: absolute;
  top: 0;
  width: 500px;
  transform: translateX(-50%) translateY(-50%);
  height: 300px;
  left: 50%;
  object-fit: contain;
}

.section-txt-header{
  width: 100%;
  color: var(--accent-color);
  margin-bottom: var(--header-pad);
}

.section-txt-header > img{
  height: 3rem;
}

.section-txt-header > h2{
  display: inline-block;
  vertical-align: middle;
  font-size: 2rem;
  font-weight: 700;
  padding-left: 1rem;
}

.accented{
  color: var(--accent-color);
}

@media only screen and (max-width: 4000px){
  .next-service{
    visibility: hidden;
  }
}

@media only screen and (max-width: 1400px){
  .section, .nav {
      padding-left: 80px;
      padding-right: 80px;
  }

  .next-service{
    visibility: hidden;
  }

  .hubspotForm{
    width: 50%;
  }
}

@media only screen and (max-width: 1000px){
  .section, .nav {
      padding-left: 60px;
      padding-right: 60px;
  }
  .project-grid {
    display: flex;
    flex-direction: column;
}
.next-service{
  visibility: hidden;
}
}

@media only screen and (max-width: 800px){
  .section, .nav {
      padding-left: 40px;
      padding-right: 40px;
  }
  .next-service{
    visibility: visible;
  }
}


@media only screen and (max-width: 700px){
  .section:not(:last-child) {
      padding-bottom: 200px;
      padding-top: 100px;
  }

  .contact{
    padding-bottom: 1rem;
  }

  .section > img {
    width: 100%;
  }

  .nav{
    padding-right: 0;
  }

  .header__right {
    padding-top: 0.5rem;
  }

  .service:not(:first-of-type){
    margin-top: 90% !important;
  }

  .service-description > h3{
    margin-top: 2rem;
  }
  
  .service-description > p{
    margin-top: 4rem;
  }

  .next-service{
    visibility: visible !important;
  }

  .hubspotForm{
    width: 100%;
  }
}

@media only screen and (max-width: 500){
  .next-service{
    visibility: visible  !important;
  }
}

.pulsate-fwd {
	-webkit-animation: pulsate-fwd 4s ease-in-out infinite both;
	        animation: pulsate-fwd 4s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


